<div class = "banner">
  <h1 id = "banner-typed-text"></h1>
</div>

<h1>All Baby Materials</h1>

<% @baby_materials.each do |baby_material| %>
<%= cl_image_tag("#{baby_material.photo}",
      width: 400, height: 300, crop: :fill) %>
  <li><%=link_to baby_material.title, baby_material_path(baby_material)%></li>
<% end %>


