<div class = "banner">
  <h1 id = "banner-typed-text"></h1>
</div>

<h1>All Baby Materials</h1>
<% @baby_materials.each do |baby_material| %>
  <li><%=link_to baby_material.title, baby_material_path(baby_material)%></li>
<% end %>

<%= link_to 'Add a new baby material', new_baby_material_path %>

